/jackson-module-jaxb-annotations-2.2.2.tar.gz
/jackson-module-jaxb-annotations-2.4.1.tar.gz
/jackson-module-jaxb-annotations-2.4.2.tar.gz
/jackson-module-jaxb-annotations-2.5.0.tar.gz
/jackson-module-jaxb-annotations-2.6.2.tar.gz
/jackson-module-jaxb-annotations-2.6.3.tar.gz
/jackson-module-jaxb-annotations-2.6.6.tar.gz
/jackson-module-jaxb-annotations-2.6.7.tar.gz
/jackson-module-jaxb-annotations-2.7.6.tar.gz
